* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
}

.card-container img {
    width: 100%;
}

.thumbnail-image img {
    width: 400px;
    height: 400px;
    object-fit: cover;    
    position: absolute;
    left: 0;
    top: 0;
}

.relative {
    position: relative;
}

.backdrop-image img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.cast-profile .default-profile {
    width: 100%;
}

h5.card-title {
    font-size: 1.05rem;
}
